.form {
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.form__group {
    margin: 10px 0;
}

.checkbox {
    cursor: pointer;
}

.checkbox__input {
    display: none;
}

.checkbox__label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox__input + .checkbox__label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid black;
    border-radius: 50%;
}

.checkbox__input:checked + .checkbox__label::before {
    background-color: lightgreen;
}